.c-footer-nav {
  &__parent-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }

  .o-link {
    color: $c-gray--lighter;
    text-transform: none;
    font-weight: 400;
    font-size: 14px;

    &:hover {
      color: $c-secondary;
    }
  }
}