.c-image-gallery {
  padding: $space-quadruple 0;
  background: #e5e5e5;

  .ga_items {
    display: block;
    @include media(">medium") {
      display: flex;
      flex-wrap: wrap;
    }

    .single_ga_item {
      width: 100%;
      margin-bottom: $space-double;
      @include media(">medium") {
        width: 23%;
        margin: 2% 1%;
      }

      h5 {
        margin-top: $space;
      }

      .o-picture {
        min-height: 160px;

        img {
          height: 100%;
        }
      }
    }
  }

  .ga_heading {
    display: block;
    @include media(">medium") {
      display: flex;
    }

    h2 {
      @include media(">medium") {
        width: 80%;
      }
    }

    select {
      color: #bc312b;
      font-size: 12px;
      padding: 10px 16px;
      border: solid 1px;
      border-radius: 5px;
      text-transform: uppercase;
      background: $c-white url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 16.84'%3E%3Cpath d='M15,16.84a1.83,1.83,0,0,1-1.3-.54L.54,3.15A1.85,1.85,0,0,1,3.15.54L15,12.39,26.85.54a1.85,1.85,0,0,1,2.61,2.61L16.3,16.3A1.83,1.83,0,0,1,15,16.84Z' fill='%23bc312b'/%3E%3C/svg%3E") center right $space no-repeat;
      background-size: 10px 10px;
      @include media(">medium") {
        width: 20%;
      }
    }
  }
}