.c-full-media {
  padding-top: $space-quadruple;

  object {
    height: 250px;
    @include media(">medium") {
      height: 560px;
    }
  }

  p {
    font-size: 14px;
    color: #3e3232;
    margin-top: 10px;
  }

  .project_content_txt {
    width: 100%;
    margin-bottom: $space-quadruple;
    @include media(">medium") {
      width: 60%;
      margin-left: auto;
      margin-right: auto;
    }

    p {
      font-size: 16px;
    }
  }

  .project_content_media {
    margin-bottom: $space-quadruple;
  }
}
