{% set base_class = base_class|default('c-project-content') %}
<section class="c-project-content u-spacing">

	<div class="l-wrap l-container">
		<h2>{{project_heading}}</h2>
		<p>{{project_content_description}}</p>
	</div>
</section>
